@font-face {
  font-family: 'GillSans';
  src: url('font/gillsans/gillsans.eot');
  src: url('font/gillsans/gillsans.eot#iefix') format('embedded-opentype'),
     url('font/gillsans/gillsans.woff') format('woff'),
     url('font/gillsans/gillsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

img.bannerimage {
    box-shadow: 20px 20px 15px black;
}

span.bannerheading {
    text-shadow: 20px 20px 5px black;
}

p.bannertext {
    text-shadow: 5px 5px 5px black;
}

button.bannerbutton {
    box-shadow: 5px 5px 10px black;
}

div.span12 {
    border: 1px solid #DDDDDD;
}

div.tabtext {
  margin-left: 40px;
  margin-right: 40px;
  max-height: 150px;
  overflow: scroll;
}